alembic==1.14.0  # Для миграций
asyncpg==0.30.0  # DataBase API, который будет принимать запросы (асинхронно)
greenlet==3.1.1
Mako==1.3.8
MarkupSafe==3.0.2
SQLAlchemy==2.0.36
typing_extensions==4.12.2
